<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="../static/styles/chat_styles.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html lang="en">
<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
          rel="stylesheet">
    <title></title>

</head>
<body onload="scrollHistoryBox()">
<div class="container">
    <header>
        <a href='/'> Chatbot3000 </a>
    </header>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="mesgs">
                <script>
                    function scrollHistoryBox() {
                        const historyBox = document.getElementById('msg_history')
                        historyBox.scrollTo(0, historyBox.scrollHeight)
                    }
                </script>
                <div id="msg_history" class="msg_history">
                    {% for message in chat_history %}
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p> {{ message.user }}</p>
                            <span class="time_date">{{ message.user_time }}</span></div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"><img src="../static/images/chatty_the_chatbot.png"
                                                           alt="chatty, the chatbot"></div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p> {{ message.bot | safe }}</p>
                                <span class="time_date">{{ message.bot_time }}</span></div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if support_level == 1 %}
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"><img src="../static/images/chatty_the_chatbot.png"
                                                           alt="chatty, the chatbot"></div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p> {{ feedback_message }}</p>
                                <span class="time_date">{{ bot_msg_time }}</span></div>
                        </div>
                    </div>
                    {% endif %}
                    {% if support_level == 2 or support_level == 1 %}
                </div>
                <div style="margin: auto;width: 50%; padding: 10px;">
                    <form method="post" action="/submit_feedback">
                        <input type="submit" name="feedback" value="1"
                               style="background-color: #ff0000; height:65px; width:100px">
                        <input type="submit" name="feedback" value="2"
                               style="background-color: #ffc100; height:65px; width:100px">
                        <input type="submit" name="feedback" value="3"
                               style="background-color: #ffff00; height:65px; width:100px">
                        <input type="submit" name="feedback" value="4"
                               style="background-color: #d6ff00; height:65px; width:100px">
                        <input type="submit" name="feedback" value="5"
                               style="background-color: #63ff00; height:65px; width:100px">
                    </form>
                </div>
                {% elif support_level == 3 %}
                {% if 3==3%}
                {% endif %}
                <div class="incoming_msg">
                    <div class="incoming_msg_img"><img src="../static/images/chatty_the_chatbot.png"
                                                       alt="chatty, the chatbot"></div>
                    <div class="received_msg">
                        <div class="received_withd_msg">
                            <p> {{ thank_you_message }}</p>
                            <span class="time_date">{{ bot_msg_time }}</span></div>
                    </div>
                </div>
            </div>
            {% else %}
        </div>
        <div class="type_msg">
            <div class="input_msg_write">
                <form method="post">
                    <input type="text" name="user_input" class="write_msg" placeholder="Type a message"/>
                    <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o"
                                                                  aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>
</div>
</div>
</body>
</html>
