<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="../static/styles/chat_styles.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<html lang="en">
<head>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
          rel="stylesheet">
    <title></title>

</head>
<body onload="scrollHistoryBox()">
<div class="container">
    <header>
        <a href='/'> Chatbot3000 </a>
    </header>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="mesgs">
                <script>
                    function scrollHistoryBox() {
                        const historyBox = document.getElementById('msg_history')
                        historyBox.scrollTo(0, historyBox.scrollHeight)
                    }
                </script>
                <div id="msg_history" class="msg_history">
                    {% for message in chat_history %}
                    {% if message.from_support %}
                    <div class="bot_msg">
                        <div class="bot_msg_img"><img src="../static/images/chatty_the_chatbot.png"
                                                      alt="chatty, the chatbot"></div>
                        <div class="bot_msg">
                            <div class="bot_withd_msg">
                                <p> {{ message.content | safe }}</p>
                                <span class="time_date">{{ message.time }}</span></div>
                        </div>
                    </div>
                    {% else %}
                    <div class="user_msg">
                        <div class="user_sent_msg">
                            <p> {{ message.content }}</p>
                            <span class="time_date">{{ message.time }}</span></div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% if chat_status == 2 %}
                </div>
                <div style="margin: auto;width: 50%; padding: 10px;">
                    <form method="post" action="/submit_feedback/{{ id }}">
                        <input type="submit" name="feedback" value="1"
                               style="background-color: #b90e0a; height:65px; width:100px">
                        <input type="submit" name="feedback" value="2"
                               style="background-color: #b7410e; height:65px; width:100px">
                        <input type="submit" name="feedback" value="3"
                               style="background-color: #fee12b; height:65px; width:100px">
                        <input type="submit" name="feedback" value="4"
                               style="background-color: #ccff00; height:65px; width:100px">
                        <input type="submit" name="feedback" value="5"
                               style="background-color: #3bb143; height:65px; width:100px">
                    </form>
                </div>
                {% elif chat_status == 3 %}
                {% elif chat_status == 4 %}
                <div style="margin: auto;width: 30%; padding: 10px;">
                    <form method="post" action="/submit_resolved/{{ id }}">
                        <button type="submit" name="resolved" value="1"
                               style="background-color: #3bb143; height:65px; width:100px">
                            Yes
                        </button>
                        <button type="submit" name="resolved" value="0"
                               style="background-color: #b90e0a; height:65px; width:100px">
                            No
                        </button>
                    </form>
                </div>
                {% else %}
            </div>
            <div class="type_msg">
                <div class="input_msg_write">
                    <form method="post">
                        <input type="text" name="user_input" class="write_msg" placeholder="Type a message"/>
                        <button class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o"
                                                                      aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
</body>
</html>
